body {
    background-color: #f5f5f5;
}

#border {
    margin-top: 0px;
}

#color-right {
    background-color: #d0d0d0;
    display: inline-table;
    height: 10px;
    width: 51%;
    left: 0px;
    background-repeat: repeat-x;
    position: absolute;
}

#color-left {
    background-color: #119946;
    display: inline-table;
    width: 50%;
    right: 0px;
    height: 10px;
    background-repeat: repeat-x;
    position: absolute;
}

@font-face {
    font-family: Gotham;
    src: url('../fonts/Gotham/GothamHTF-Light.otf');
}

@font-face {
    font-family: Gotham-Book;
    src: url('../fonts/Gotham/GothamHTF-Book.otf');
}


/*color for I'm Kelso*/
header { color: #289a35;
    font-family: Gotham;
    font-size: 44px;
}

#title {
    margin-top: 25px;
}

h2 { color: #484848;
     font-family: Gotham-Book;
     font-size: 25px;
     margin-bottom: -12px;
}
/*color for links */
a { color: #289a35;
    text-decoration: none;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

a:hover {
    text-decoration: underline;
    opacity: 0.6;
}

#bio { margin-top: 35px;
}

/* color for paragraph text */
p {
    color: #5e5e5e;
    font-family: Gotham;
}

.columns {
    margin-top: 130px;
}

.six {
    padding: 0;
}

#separator {
    background-image: url('../images/separator.png');
    background-repeat: no-repeat;
    width: 396px;
    height: 15px;
    margin-bottom: 10px;
}

.email {
      background-image: url('../images/email-selected.png');
      background-repeat: no-repeat;
      display: block;
      width: 54px;
      height: 44px;
      float: left;
      opacity: 0.5;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
}

.email:hover {
    opacity: 1;
}

.twitter {
    background-image: url('../images/tweet-selected.png');
    background-repeat: no-repeat;
    display: block;
    width: 54px;
    height: 44px;
    float: left;
    margin-top: 1px;
    opacity: 0.5;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.twitter:hover {
    opacity: 1;
}

#contact {
    width: 120px;
}

footer {
    margin-bottom: 250px;
}